.meal {
    display: flex;
    margin: 20px;
    padding: 15px;
    box-shadow: 5px 5px 10px lightgray;
    transition: .3s;
}
.meal-details {
    flex: 1;
}
.meal:hover {
    box-shadow: 5px 5px 10px gray;
}
.meal img {
    width: 250px;
    margin-right: 25px;
}
.order-button {
    background: darkorange;
    padding: 8px;
    width: 70%;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: white;
}
.order-button span {
    margin-right: 5px;
}
.order-button:hover {
    background: rgb(255, 102, 0);
}